{
  "plugins": ["prettier-plugin-jinja-template"],
  "overrides": [
    {
      "files": ["*.html", "*.njk", "*.nunjucks"],
      "options": {
        "parser": "jinja-template",
        "printWidth": 80,
        "tabWidth": 2,
        "useTabs": false,
        "singleQuote": false,
        "bracketSameLine": false,
        "htmlWhitespaceSensitivity": "ignore",
        "jinjaFormattingOptions": {
          "indentHandlebars": true
        }
      }
    }
  ]
}
