<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>{{ title }}</title>
  </head>
  <body>
    {% include "partials/site-head.html" %}
    <main
      tabindex="-1"
      id="main-content"
    >
      {% block content %}{% endblock %}
    </main>
    <style>
      img {
        max-width: 100%;
        max-height: 250px;
      }
      .studio-feed__list {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        gap: 0.5rem;

        img {
          width: 100%;
        }
      }
    </style>
  </body>
</html>
